2.1/build/*
2.1/build-debug/*
2.1/build.tar.gz
2.1/.clangd
2.1/cmake-build-debug/
2.1/cmake-build-release/
2.1/CMakeCache.txt
2.1/CMakeFiles/
2.1/CMakeFiles/*
2.1/cmake_install.cmake
2.1/compile_commands.json
2.1/doxygen/
2.1/doxygen/*
2.1/.DS_Store
2.1/eos.doxygen
2.1/etc/eosio/node_*
2.1/genesis.json
2.1/hardfork.hpp
2.1/.idea/
2.1/libraries/egenesis/egenesis_brief.cpp
2.1/libraries/egenesis/egenesis_full.cpp
2.1/libraries/egenesis/embed_genesis/
2.1/libraries/egenesis/embed_genesis/*
2.1/libraries/fc/test/crypto/test_cypher_suites/
2.1/libraries/fc/test/crypto/test_cypher_suites/*
2.1/libraries/testing/chain_tester/
2.1/libraries/testing/chain_tester/*
2.1/libraries/types/type_generator/
2.1/libraries/types/type_generator/*
2.1/libraries/types/types_test/
2.1/libraries/types/types_test/*
2.1/libraries/utilities/git_revision.cpp
2.1/libraries/wallet/api_documentation.cpp
2.1/libraries/wallet/Doxyfile/
2.1/libraries/wallet/Doxyfile/*
2.1/libraries/wallet/doxygen/
2.1/libraries/wallet/doxygen/*
2.1/libraries/wasm-jit/Source/Programs/Assemble/
2.1/libraries/wasm-jit/Source/Programs/Assemble/*
2.1/libraries/wasm-jit/Source/Programs/Disassemble/
2.1/libraries/wasm-jit/Source/Programs/Disassemble/*
2.1/libraries/wasm-jit/Source/Programs/Test/
2.1/libraries/wasm-jit/Source/Programs/Test/*
2.1/libraries/wasm-jit/Source/Programs/wavm/
2.1/libraries/wasm-jit/Source/Programs/wavm/*
2.1/Makefile/
2.1/Makefile/*
2.1/moc_*
2.1/programs/cl2.1/cl2.1/
2.1/programs/cl2.1/cl2.1/*
2.1/programs/cl2.1/config.hpp
2.1/programs/data-dir/
2.1/programs/data-dir/*
2.1/programs/eosio-abigen/eosio-abigen/
2.1/programs/eosio-abigen/eosio-abigen/*
2.1/programs/eosio-applesedemo/eosio-applesedemo/
2.1/programs/eosio-applesedemo/eosio-applesedemo/*
2.1/programs/eosio-launcher/config.hpp
2.1/programs/eosio-launcher/eosio-launcher/
2.1/programs/eosio-launcher/eosio-launcher/*
2.1/programs/js_operation_serializer/js_operation_serializer/
2.1/programs/js_operation_serializer/js_operation_serializer/*
2.1/programs/keosd/keosd/
2.1/programs/keosd/keosd/*
2.1/programs/nod2.1/config.hpp
2.1/programs/nod2.1/nod2.1/*
2.1/programs/nod2.1/nod2.1/
2.1/scripts/tn_init.sh
2.1/Testing/*
2.1/tests/plugin_test/
2.1/tests/plugin_test/*
2.1/unittests/unit_test/
2.1/unittests/unit_test/*
2.1/var/lib/node_*
2.1/.vscode
2.1/wallet.json
2.1/witness_node_data_dir/
2.1/witness_node_data_dir/*


eos/build/*
eos/build-debug/*
eos/build.tar.gz
eos/.clangd
eos/cmake-build-debug/
eos/cmake-build-release/
eos/CMakeCache.txt
eos/CMakeFiles/
eos/CMakeFiles/*
eos/cmake_install.cmake
eos/compile_commands.json
eos/doxygen/
eos/doxygen/*
eos/.DS_Store
eos/eos.doxygen
eos/etc/eosio/node_*
eos/genesis.json
eos/hardfork.hpp
eos/.idea/
eos/libraries/egenesis/egenesis_brief.cpp
eos/libraries/egenesis/egenesis_full.cpp
eos/libraries/egenesis/embed_genesis/
eos/libraries/egenesis/embed_genesis/*
eos/libraries/fc/test/crypto/test_cypher_suites/
eos/libraries/fc/test/crypto/test_cypher_suites/*
eos/libraries/testing/chain_tester/
eos/libraries/testing/chain_tester/*
eos/libraries/types/type_generator/
eos/libraries/types/type_generator/*
eos/libraries/types/types_test/
eos/libraries/types/types_test/*
eos/libraries/utilities/git_revision.cpp
eos/libraries/wallet/api_documentation.cpp
eos/libraries/wallet/Doxyfile/
eos/libraries/wallet/Doxyfile/*
eos/libraries/wallet/doxygen/
eos/libraries/wallet/doxygen/*
eos/libraries/wasm-jit/Source/Programs/Assemble/
eos/libraries/wasm-jit/Source/Programs/Assemble/*
eos/libraries/wasm-jit/Source/Programs/Disassemble/
eos/libraries/wasm-jit/Source/Programs/Disassemble/*
eos/libraries/wasm-jit/Source/Programs/Test/
eos/libraries/wasm-jit/Source/Programs/Test/*
eos/libraries/wasm-jit/Source/Programs/wavm/
eos/libraries/wasm-jit/Source/Programs/wavm/*
eos/Makefile/
eos/Makefile/*
eos/node_modules/
eos/node_modules/*
eos/moc_*
eos/programs/cleos/cleos/
eos/programs/cleos/cleos/*
eos/programs/cleos/config.hpp
eos/programs/data-dir/
eos/programs/data-dir/*
eos/programs/eosio-abigen/eosio-abigen/
eos/programs/eosio-abigen/eosio-abigen/*
eos/programs/eosio-applesedemo/eosio-applesedemo/
eos/programs/eosio-applesedemo/eosio-applesedemo/*
eos/programs/eosio-launcher/config.hpp
eos/programs/eosio-launcher/eosio-launcher/
eos/programs/eosio-launcher/eosio-launcher/*
eos/programs/js_operation_serializer/js_operation_serializer/
eos/programs/js_operation_serializer/js_operation_serializer/*
eos/programs/keosd/keosd/
eos/programs/keosd/keosd/*
eos/programs/nodeos/config.hpp
eos/programs/nodeos/nodeos/*
eos/programs/nodeos/nodeos/
eos/scripts/tn_init.sh
eos/Testing/*
eos/tests/plugin_test/
eos/tests/plugin_test/*
eos/unittests/unit_test/
eos/unittests/unit_test/*
eos/var/lib/node_*
eos/.vscode
eos/wallet.json
eos/witness_node_data_dir/
eos/witness_node_data_dir/*


\#*
\.#*
*.iws
*.ll
*.moc
*.ninja
*.pyc
*.pyo
*.s
*.sw*
!*.swagger.*
*.wallet
*.wast
*.wast.hpp

*.a
*.abi.hpp
*.bc
!.cicd
*.cmake
!CMakeModules/*.cmake
*.dot
*.dylib

yarn.lock
logs.md


